SCOUT_USERNAME=admin
SCOUT_PASSWORD=change-this-long-password
SCOUT_AUTH_ENABLED=true
SCOUT_BIND_HOST=127.0.0.1
SCOUT_BIND_PORT=8765
SCOUT_REFRESH_SECONDS=5
SCOUT_MAX_CONNECTIONS=250
SCOUT_MAX_EVENTS=100
