SCOUT_USERNAME='scout-example'
SCOUT_PASSWORD_HASH='$argon2id$replace-with-generated-hash'
SCOUT_TOTP_SECRET='REPLACE_WITH_BASE32_SECRET'
SCOUT_TOTP_ISSUER='SCOUT-EASY'
SCOUT_ACTIONS_ENABLED=true
SCOUT_ALLOWED_IPS=
SCOUT_BIND_HOST=127.0.0.1
SCOUT_BIND_PORT=8765
SCOUT_REFRESH_SECONDS=5
SCOUT_MAX_CONNECTIONS=250
SCOUT_MAX_EVENTS=100
SCOUT_LOGIN_ATTEMPTS=5
SCOUT_LOGIN_WINDOW_SECONDS=600
SCOUT_SESSION_MINUTES=480
SCOUT_SECURE_COOKIE=true
